target/
backend/target/
payment-gateway/target/
payment-gateway-admin/node_modules/
payment-gateway-admin/dist/
backend/data/
frontend/node_modules/
frontend/dist/
admin/node_modules/
admin/dist/
.idea/
*.iml
.DS_Store
.env
ios/
