target/
backend/target/
payment-gateway/target/
payment-gateway-admin/node_modules/
payment-gateway-admin/dist/
gateway-client-admin/node_modules/
gateway-client-admin/dist/
gateway-pay-test/node_modules/
gateway-pay-test/dist/
backend/data/
frontend/node_modules/
frontend/dist/
admin/node_modules/
admin/dist/
.idea/
*.iml
.DS_Store
.env
ios/
/root.pem
/ssl/app.linsy.online_nginx/
/ssl/client.linsy.online_nginx/
/ssl/testpay.linsy.online_nginx/
